﻿registry=https://anavarro9731.pkgs.visualstudio.com/soap-feed/_packaging/soap-pkgs/npm/registry/ 
registry=https://registry.npmjs.org/
       
always-auth=true

; begin auth token
//anavarro9731.pkgs.visualstudio.com/soap-feed/_packaging/soap-pkgs/npm/registry/:username=anavarro9731
//anavarro9731.pkgs.visualstudio.com/soap-feed/_packaging/soap-pkgs/npm/registry/:_password=ajM1c3Nxb2FibXd2aXU3ZHU0eWluNmxtdzNsMm5jNG9rejM3dGNkbXBpcmwzZnRneWlpYQ==
//anavarro9731.pkgs.visualstudio.com/soap-feed/_packaging/soap-pkgs/npm/registry/:email=npm requires email to be set but doesn't use the value
//anavarro9731.pkgs.visualstudio.com/soap-feed/_packaging/soap-pkgs/npm/:username=anavarro9731
//anavarro9731.pkgs.visualstudio.com/soap-feed/_packaging/soap-pkgs/npm/:_password=ajM1c3Nxb2FibXd2aXU3ZHU0eWluNmxtdzNsMm5jNG9rejM3dGNkbXBpcmwzZnRneWlpYQ==
//anavarro9731.pkgs.visualstudio.com/soap-feed/_packaging/soap-pkgs/npm/:email=npm requires email to be set but doesn't use the value
; end auth token