/* Fonts have been added with a normal CSS file as there is a bug where passing in props (dynamic style changes) to styled-components causes the whole page to flicker as fonts get re-requestsed
See: https://github.com/styled-components/styled-components/issues/1593 */

@font-face {
  font-family: 'Muli';
  src: url('./fonts/Muli-Regular.ttf');
}

@font-face {
  font-family: 'Muli';
  font-weight: bold;
  src: url('./fonts/Muli-Bold.ttf');
}
