registry=https://registry.npmjs.org/

@soap:registry=https://anavarro9731.pkgs.visualstudio.com/soap-feed/_packaging/soap-pkgs/npm/registry/       
always-auth=true
; begin auth token
//anavarro9731.pkgs.visualstudio.com/soap-feed/_packaging/soap-pkgs/npm/registry/:username=anavarro9731
//anavarro9731.pkgs.visualstudio.com/soap-feed/_packaging/soap-pkgs/npm/registry/:_password=dTZoaWl1dXRxcjR6dGR6eGl5cXlyaHN1NW5rcXN3bDVsaDQ0Z3h1NHp1a3VpcXF0ejVmcQ==
//anavarro9731.pkgs.visualstudio.com/soap-feed/_packaging/soap-pkgs/npm/registry/:email=npm requires email to be set but doesnt use the value
//anavarro9731.pkgs.visualstudio.com/soap-feed/_packaging/soap-pkgs/npm/:username=anavarro9731
//anavarro9731.pkgs.visualstudio.com/soap-feed/_packaging/soap-pkgs/npm/:_password=dTZoaWl1dXRxcjR6dGR6eGl5cXlyaHN1NW5rcXN3bDVsaDQ0Z3h1NHp1a3VpcXF0ejVmcQ==
//anavarro9731.pkgs.visualstudio.com/soap-feed/_packaging/soap-pkgs/npm/:email=npm requires email to be set but doesnt use the value
; end auth token
